<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.mapper.ChapterMapper">

    <select id="findAllChapter" resultType="Chapter">
       select c.id,c.filepath,c.title,c.size,c.longs,c.create_date as createDate,a.title as album_title  from album a INNER JOIN chapter c ON a.id=c.album_id
       where c.album_id=#{albumId}
       limit #{begin},#{rows}
    </select>

    <select id="count" resultType="Integer">
        SELECT COUNT(*) FROM chapter c where c.album_id=#{albumId}
    </select>

    <insert id="add">
    insert into chapter values (#{id},#{filepath},#{title},#{size},#{longs},#{createDate},#{albumId})
</insert>

    <update id="updateFilepath" parameterType="Chapter">
        update chapter set filepath = #{filepath},`size`=#{size},longs=#{longs} where id=#{id}
    </update>


    <update id="update" parameterType="Chapter">
        update chapter set  title=#{title} where id=#{id}

    </update>

    <delete id="del">
        delete from chapter where id in
        <foreach collection="array" open="(" separator="," close=")" item="id">
            #{id}
        </foreach>
    </delete>

</mapper>
